openapi: 3.0.0
info:
  title: CODA-19 API
  description: Describes the set of API endpoints available as part of the CODA-19 project.
  version: 1.0.0-oas3
servers:
  - url: 'http://api.coda19.com/v1'
    description: Production server.
paths:
  /stats/summarize:
    post:
      summary: >-
        This message returns summarized statistics from this site according to
        the parameters specified in the requested filters.
      description: Test
      requestBody:
        description: >-
          The `filter` field specifies the list of fields that will be
          summarized.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                route:
                  type: object
                  properties:
                    site:
                      type: string
                      example: '110'
                    destination:
                      type: integer
                      example: stats
                    action:
                      type: string
                      example: summarize
                message:
                  type: object
                  properties:
                    filter:
                      type: object
                      properties:
                        start_time:
                          type: integer
                          example: 1613245131
                        end_time:
                          type: integer
                          example: 1613245132
                        query:
                          type: string
                          example: >-
                            { subject { reference resource(type : Patient) {
                            age, gender } } }
                    options:
                      type: object
                      properties:
                        continuous_metrics:
                          type: array
                          items:
                            type: string
                          example:
                            - mean
                            - stdev
                            - ci95
                        discrete_metrics:
                          type: array
                          items:
                            type: string
                          example:
                            - mode
                            - marginals
      responses:
        '200':
          description: The model ran successfully and the testing results are reported.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                        example:
                          - field: age
                            mean: 72.5
                            stdev: 18.1
                            ci95:
                              - 23.2
                              - 91.9
                          - field: gender
                            mode: male
                            marginals:
                              - value: male
                                count: 922
                              - value: female
                                count: 844
        '403':
          description: The request is not authorized.
        '500':
          description: An error occurred and the data could not be summarized.
  /stats/breakdown:
    post:
      summary: >-
        This message returns summarized statistics for a given variable, split
        in N groups according to a discrete variable having N possible values.
      description: Test
      requestBody:
        description: >-
          This example shows the breakdown of a continuous variable by a
          discrete variable. The extension to the breakdown of a discrete
          variable by another variable is trivial. Breaking down variables
          (continuous or discrete) by thresholds of a continuous metric is not
          supported in V1, but may be at a future date.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                route:
                  type: object
                  properties:
                    site:
                      type: string
                      example: '110'
                    destination:
                      type: integer
                      example: stats
                    action:
                      type: string
                      example: breakdown
                message:
                  type: object
                  properties:
                    filter:
                      type: object
                      properties:
                        start_time:
                          type: integer
                          example: 1613245131
                        end_time:
                          type: integer
                          example: 1613245132
                        fields:
                          type: string
                          example: >-
                            { subject { reference resource(type : Patient) {
                            age, sex } } }
                    options:
                      type: object
                      properties:
                        continuous_metrics:
                          type: array
                          items:
                            type: string
                          example:
                            - mean
                            - stdev
                            - ci95
                        breakdown_by:
                          type: string
                          example: gender
      responses:
        '200':
          description: The model ran successfully and the testing results are reported.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      breakdown_by:
                        type: string
                        example: gender
                      results:
                        type: array
                        items:
                          type: object
                        example:
                          - breakdown_value: male
                            data:
                              field: age
                              mean: 70.5
                              stdev: 16.2
                              ci95:
                                - 26.4
                                - 91.3
                          - breakdown_value: female
                            data:
                              field: age
                              mean: 75.5
                              stdev: 11.1
                              ci95:
                                - 29.2
                                - 81.9
        '403':
          description: The request is not authorized.
        '500':
          description: An error occurred and the data could not be summarized.
  /learning/prepare:
    post:
      summary: >-
        This message prepares a machine learning model for either training or
        validation.
      description: Test
      requestBody:
        description: Optional description in *Markdown*
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: object
                  properties:
                    site:
                      type: string
                      example: '110'
                    destination:
                      type: integer
                      example: learning
                data:
                  type: object
                  properties:
                    action:
                      type: string
                      example: prepare
                    filter:
                      type: object
                      properties:
                        start_time:
                          type: integer
                          example: 1613245131
                        end_time:
                          type: integer
                          example: 1613245132
                        fields:
                          type: string
                          example: >-
                            { subject { reference resource(type : Patient) {
                            age, sex } } }
                    options:
                      type: object
                      properties:
                        model:
                          type: string
                          example: Keras model JSON
                        hyperparameters:
                          type: object
                          example:
                            num_predictors: 2
                            num_outcomes: 1
                            learning_rate: 0.001
                            validation_split: 0.33
                            epochs: 5000
                            batch_size: 10
                            shuffle: 1
                            training_metric: l2
                            validation_metric: acc
      responses:
        '200':
          description: Model preparation was successfully initiated.
        '500':
          description: An error occurred and the model could not be prepared.
  /learning/train:
    post:
      summary: This message launches training for a job that was previously prepared.
      requestBody:
        description: >-
          Optionally, this message may contain a Base64-encoded version of the
          H5 model weights. If model weights are included, the model will be
          initialized with these weights prior to training. If model weights are
          not included, model training is started from scratch.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  example: train
                destination:
                  type: object
                  properties:
                    site:
                      type: string
                      example: '110'
                    destination:
                      type: integer
                      example: learning
                data:
                  type: object
                  properties:
                    job_id:
                      type: string
                      example: 863293a9fd22453e
                    options:
                      type: object
                      properties:
                        weights:
                          type: string
                          example: base64 encoding of binary .h5 model weights file
      responses:
        '200':
          description: Model training was successfully initiated.
        '500':
          description: An error occurred and model training could not be initiated.
  /learning/progress:
    post:
      summary: >-
        This message fetches training progress for a training or validation job
        that has previously been launched.
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                route:
                  type: object
                  properties:
                    site:
                      type: string
                      example: '110'
                    destination:
                      type: integer
                      example: learning
                    action:
                      type: string
                      example: progress
                data:
                  type: object
                  properties:
                    job_id:
                      type: string
                      example: 863293a9fd22453e
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: object
                properties:
                  num_iterations_done:
                    type: integer
                    example: 2
                  num_iterations_total:
                    type: integer
                    example: 5000
                  training_metric:
                    type: object
                    properties:
                      name:
                        type: string
                        example: l2
                      values:
                        type: array
                        items:
                          type: number
                        example:
                          - 0.4221
                          - 0.3991
                  validation_metric:
                    type: object
                    properties:
                      name:
                        type: string
                        example: acc
                      values:
                        type: array
                        items:
                          type: number
                        example:
                          - 0.0511
                          - 0.1732
  /learning/test:
    post:
      summary: This message runs testing for a model.
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                route:
                  type: object
                  properties:
                    site:
                      type: string
                      example: '110'
                    destination:
                      type: integer
                      example: learning
                    action:
                      type: string
                      example: test
                data:
                  type: object
                  properties:
                    job_id:
                      type: string
                      example: 863293a9fd22453e
                    options:
                      type: object
                      properties:
                        weights:
                          type: string
                          example: base64 encoding of binary .h5 model weights file
                        test_parameters:
                          type: object
                          properties:
                            num_folds:
                              type: integer
                              default: 5
                            folds_strategy:
                              type: string
                              default: k_fold
                            test_metric:
                              type: string
                              default: acc
      responses:
        '200':
          description: The model ran successfully and the testing results are reported.
          content:
            application/json:
              schema:
                type: object
                properties:
                  test_results:
                    type: array
                    items:
                      type: object
                      properties:
                        num_fold:
                          type: integer
                        fold_size:
                          type: integer
                        test_metric_value:
                          type: number
                    example:
                      - num_fold: 1
                        fold_size: 302
                        test_metric_value: 0.95
